<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List-Item</title>
</head>
<body>
    {% for i in items %}
    <li>
        <h2>{{ i.name }}</h2>
        <p>U.S. cents: {{ i.price }}</p>

        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ i.get_absolute_url }}">View this ITEM</a></p>

        <hr>
    </li>
    {% endfor %}
</body>
</html>