<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script> -->
    <script src="https://js.stripe.com/v3/"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  </head>
  <body>
    <section>
      <div class="product">
        {% comment %} <img
          src="https://i.imgur.com/EHyR2nP.png"
          alt="The cover of Stubborn Attachments"
        /> {% endcomment %}
        <div class="description">
          <h3>{{ item.name }}</h3>
          <h5>U.S. cents -> {{ item.price }}</h5>
        </div>
      </div>
      <button type="button" id="checkout-button">Buy</button>
    </section>
    {% csrf_token %}
  </body>
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

    document.querySelector("#checkout-button").addEventListener("click", () => {
      fetch("{% url 'buy' item.id %}")
      .then((result) => { return result.json(); })
      .then((data) => {
        console.log(data);
        // Redirect to Stripe Checkout
        return stripe.redirectToCheckout({sessionId: data.sessionId})
      })
      .then((res) => {
        console.log(res);
      });
    });
  </script>
</html>